<!DOCTYPE html>
<html>
<head>
  <title>Mackenzie Child - Part Designer, Part Developer</title>
  <lipnk href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="main_navigation" class="clearfix">
  <%= link_to 'Hikaru', root_path, class: "name" %>
  <nav>
    <%= link_to 'Articles', articles_path %>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </nav>
</header> 

<%= yield %>

<footer id="main_footer">
  <p class="copyright">&copy2015 Hikaru</p>
  <nav>
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-qq"></i></a>
    <a href="#"><i class="fa fa-weixin"></i></a>
  </nav>
</footer>

</body>
</html>
